*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 90%;
  margin: auto 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.phases {
  width: 950px;
  height: 1000px;
  overflow-y: scroll;

  &__table {
    width: 100%;
    border-collapse: collapse;

    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    &--ho {
      width: 5%;
    }
    &--hp {
      width: 10%;
    }
    &--hd {
      width: 10%;
    }
    &--hn {
      width: 50%;
    }

    &--ho,
    &--hp,
    &--hd,
    &--hn,
    &--ha,
    &--td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    &--trHead {
      background-color: #000;
      color: #fff;
    }

    &--tr {
      height: 45px;

      &:nth-child(odd) {
        background-color: #717171;
        color: #fff;
      }
    }
  }
}

#percentagePhaseDone {
  position: relative;

  &__p {
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 4px;

    color: #fff;
  }

  &__c {
    position: absolute;
    top: 3px;
    left: 4px;
    z-index: 5;
    width: 85px;
    height: 35px;

    background-color: #000;
  }
}

#notes {
  position: relative;

  &:hover .note__content {
    display: block;
  }
}

.note {
  width: 100%;
  position: absolute;
  top: 45px;
  left: 0;
  min-height: 300px;
  background-color: #e3e3e3;
  padding: 10px;

  &__content {
    display: none;
  }

  &__input,
  &__input:focus {
    margin-bottom: 10px;

    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
  }

  &__input::placeholder {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: end;
  }

  &__list {
    margin-left: 20px;
    color: #000;
  }

  &__btns {
    display: flex;
    flex-direction: row;

    & p {
      margin-left: 10px;
      text-decoration: underline;
    }
  }
}
